$phone-min: 320px;
$phone-max: 640px;
$tablet:    992px;
$desktop:   1200px;

@mixin breakpoint($media) {
  @if $media == mobile {
    @media (min-width: $phone-min) and (max-width: $phone-max) { @content; }
  }
  @else if $media == tablet {
    @media (min-width: $phone-max + 1) and (max-width: $tablet) { @content; }
  }
  @else if $media == laptop {
    @media (min-width: $tablet + 1) and (max-width: $desktop) { @content; }
  }
  @else if $media == desktop {
    @media (min-width: $desktop + 1) { @content; }
  }
}
/*
Usage:
  @include breakpoint(mobile) {
    ...
  }
*/
