// General color
$red: #ed1111;
$red-light: #e0908b;
$white: #ffffff;
$black: #000000;
$black-light: #333333;
$gray: #999e9f;
$gray-light: #e5e5e5;
$gray-lighter: #a5a4a4;
$gray-secondary: #d9d9d9;

// Variables color
$main-color: $black-light;
