/*
Place for styles that concerns to the page itself
*/
*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    font-family: 'Ubuntu', sans-serif;
    color: $main-color;
}
a {
    color: $red;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
img {
    max-width: 100%;
    height: auto;
}
p,
ul {
    margin-top: 0;
}
